.browser_widget_wrap{position:relative; height:18px; line-height:18px; margin:0px; padding:0px; list-style:none; text-decoration:none;}
.browser_widget_wrap a{color:#333; cursor:pointer;}
.browser_widget_wrap a img{margin:2px 3px; vertical-align:top;}
